@import url(http://fonts.googleapis.com/css?family=Carme);
a {
    color: #ffb300;
}
a:hover {
    color: #dc3005;
}
body {
    background-color: #4d4d4d;
    color: #ddd;
    font-family: "Carme", "Calibri", "Verdana";
    font-size: 16px;
}
div#content {
    margin-top: 55px;
	font-size: 16px;
}
div#content h2 {
	font-size: 21px;
}
div#navigation {
    border-style:double;
    border-width:3px;
    border-color:#4D4D4D;
    color: #00916f;
    background-color:#363636;
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
}
div#navigation h1 {
    display: inline;
    font-size: 18px;
    margin-left: 5px;
}
div#navigation a {
    margin-left: 5px;
}
div#action {
    color: #00916f;
    height:25px;
    width: 100%;
}
div#action a {
margin-left: 5px;
display: inline;
color: #00916f;
}
div#right-menu {
background-color:#363636;
border: 3px double #4d4d4d;
position:fixed;
right:0px;
top:56px;
width:25%;
margin-right:5px;
}
div#results {
  color: #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
div#hide-watcher {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 3px;
}
ol {
  margin-top: 0px;
  padding-top: 0px;
}
input[type=text] {
  font-family: "Carme", "Calibri", "Verdana";
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}
hr {
  background-color: #4d4d4d;
  border: none;
  color: #4d4d4d;
  height: 1px;
  margin-left: 5px;
  margin-right: 5px;
}
