@import url(http://fonts.googleapis.com/css?family=Carme);
a {
  color: #ffb300;
}
a:hover {
  color: #dc3005;
}
body {
  background-color: #788A85;
  color: #ddd;
  font-family: "Carme", "Calibri", "Verdana";
  font-size: 16px;
}
div.reply > h3 {
  display: block;
  font-size: 14px;
  font-weight: normal;
  background-color:#334F47;
  margin: 0px;
  margin-top: 5px;
  padding: 1px;
  padding-left: 3px;
  margin-top:0px;
}
.reply {
  background-color: #4B6D63;
  margin-left: 30px;
  max-width: 771px;
  word-wrap: break-word;
  overflow:auto;
}
.thread {
  background-color:#4B6D63;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 800px;
  word-wrap: break-word;
  overflow:auto;
  margin-top:5px;
}
.message, .reply-message {
  font-family: "DejaVu Sans", "Carme", "Calibri", "Verdana";
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top:8px;
}
.thread h2, .reply h3 {
  text-align: center;
}
div#content {
  margin-top: 55px;
  font-size: 14px;
}
div.thread > h2 {
  display: block;
  font-size: 16px;
  font-weight: normal;
  background-color:#334F47;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
}
div.thread .op, div.reply .poster {
  color: #ffb300;
}
.time {
  font-size: 14px;
  float: right;
}
.op, .poster {
  float: left;
  color: #ffb300;
}
img {
  background-color:#334F47;
  padding:5px;
  padding-left:8px;
  float:left;
  margin-right:8px;
}
h2 > .time {
  padding-top: 2px;
}
div#navigation {
  border-style:double;
  border-width:3px;
  border-color:#4D4D4D;
  color: #00916f;
  background-color:#363636;
  position:fixed;
  top:0px;
  left:0px;
  width: 100%;
}
div#navigation h1 {
  display: inline;
  font-size: 18px;
  margin-left: 5px;
}
div#navigation a {
  margin-left: 5px;
}
div#action {
  color: #00916f;
  height:25px;
  width: 100%;
  position:fixed;
  top:25px;
  background-color:#363636;
  border-width:3px;
  border-style:double;
  border-color:#4D4D4D;
  border-top:none;
  left:0px;
}
div#action a {
  margin-left: 5px;
  display: inline;
  color: #00916f;
}
div#postform {
margin-left:5px;
margin-right:65%;
margin-top:5px;
background-color:#363636;
padding:5px;
position:fixed;
top:50px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;

}
div#reply_form{
background-color:#363636;
margin-left:5px;
margin-right:65%;
margin-top:5px;
position:fixed;
padding:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
position:fixed;
top:75px;
left:10px;
}
div#reply_input{
background-color:#4B6D63;
}

div#right-menu {
  background-color:#363636;
  border: 3px double #4d4d4d;
  position:fixed;
  right:0px;
  top:56px;
  width:25%;
  margin-right:5px;
  opacity:0.8;
}
div#right-menu:hover {
opacity:1;
  z-index: 100;
}
div#results {
  color: #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
#watchlist div {
  padding-left: 45px;
}
div#hide-watcher {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 3px;
}
ol {
  margin-top: 0px;
  padding-top: 0px;
}
#searchlist > input {
  font-family: "DejaVu Sans", "Carme", "Calibri", "Verdana";
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}
hr {
  background-color: #4d4d4d;
  border: none;
  color: #4d4d4d;
  height: 1px;
  margin-left: 5px;
  margin-right: 5px;
}
input [type=text]{
font-family: "DejaVu Sans", "Carme", "Calibri", "Verdana";
}
textarea {
font-family:"DejaVu Sans","Carme","Calibri","Verdana";
}
.anchor {
  position: relative;
  top: -35px;
}